packages/
SSLLWrapper/obj/Debug/
SSLLWrapper/bin/Debug/
SSLLWrapper.ConsoleAppTester/obj/Debug/
SSLLWrapper.Tests/obj/Debug/
SSLLWrapper.ConsoleAppTester/bin/Debug/
SSLLWrapper.Tests/bin/Debug/
SSLLWrapper/bin/
SSLLWrapper/obj/
SSLLWrapper.Tests/obj/
SSLLWrapper.Tests/bin/
SSLLWrapper.ConsoleAppTester/bin/
SSLLWrapper.ConsoleAppTester/obj/
SSLLWrapper.IntegrationTests/obj/Release/
SSLLWrapper.IntegrationTests/obj/Debug/
SSLLWrapper.IntegrationTests/bin/Release/
SSLLWrapper.IntegrationTests/bin/Debug/
SSLLabsApiWrapper/obj/Debug/
SSLLabsApiWrapper.Tests/bin/Debug/
SSLLabsApiWrapper/bin/
SSLLabsApiWrapper.Tests/obj/
SSLLabsApiWrapper/obj/
SSLLabsApiWrapper.IntegrationTests/bin/
SSLLabsApiWrapper.IntegrationTests/obj/Debug/SSLLWrapper.IntegrationTests.csproj.FileListAbsolute.txt
SSLLabsApiWrapper.IntegrationTests/obj/
SSLLabsApiWrapper.Tests/bin/
*.nupkg
